
body {
    font-family: 'Open Sans';
    font-weight: 400;
    margin:0;
    padding:0;
    text-decoration: none;
    overflow-x:hidden;
}
h1 {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 3.75rem;
}
h2 {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 3.75rem;
}
h3 {
    font-family:'Open Sans';
    font-weight: 300;
    font-size: 2.063rem;
}
.nav-heading {
    font-family:'Open Sans';
    font-weight: 300;
    font-size: 2.063rem;
    box-sizing: border-box;
}
.nav__link {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1.3125rem;
    padding: 10px; 
}

p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1.125rem;
}

p.price {
    color: #5BACC3;
}
.main__cards-price {
    color: #5BACC3;
    font-size: 2.063rem;
    font-weight: 700;
    margin: auto;
}

.footer_heading {
    font-family:'Open Sans';
    font-weight: 300;
    font-size: 2.063rem;
}
