header {
    background-color: #FFF0ED;
    width: 100%;
    padding-bottom: 0.625rem;
    padding-top: 0.625rem;

}
nav.header__container {
    display: flex;
    align-items: center;
    gap: 60%;
}

.header_card-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__img {
    width: 3.125rem;
    margin: 0;
    position: relative;
    top: 2px;
}
.header__card-right {
   display: flex;
   align-items: center;
    
}
.header__nav--linktext{
    margin: 0;
    text-decoration: none;
    color: inherit;
}

.nav-shopnow {
    color: #5BACC3;
}

.section__intro-container {
    background-color: #FFF0ED;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}
.section__intro-card {
    margin-left: 9.375rem;
    display: flex;
    flex-direction: column;
}
.section__intro-title {
    text-align: left;
    margin-bottom: 0;
}
.section__intro-text {
    text-align: left;
    width: 50%;
}

.section__button-shop {
    background-color: #5BACC3;
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1.313rem;
    width: 11.25rem;
    text-align: center;
    padding: 1rem;
    position: relative;
}
.section__button-shop-link{
    text-decoration: none;
    position: relative;
}
.section__button-shop-border {
    position: absolute;
    border: 2px solid #393939;
    width: 13rem;
    height: 3.5rem;
    bottom: 0.422rem;
    right: 0.563rem;
    
}
.section__intro-img {
    padding: 1.25rem;
    margin-right: 6.25rem;
}
.main__background {
    background-color: #F7F7F7;
}
.main__title-text {
    margin: 0px;
    text-align: center;
    padding: 1rem;
}
.main__cards {
    padding: 1rem;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.main__coffeebean_card{
    width: 20.625rem;
    height: 27.5rem;
    border-radius: 0.625rem;
    box-shadow: 0 5px 9px -1px;
    box-shadow: rgba(0, 0, 0, 0.25);
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    
}
.main__coffeebean_card-img {
    max-width: 100%;
    padding: 1rem;
    position: relative;
    top: 3%;
}
.main__coffeebean_card-bottom {
    background-color:#FFF0ED;
    height: 35%;
    box-sizing: border-box;
    position: relative;
    top: 2.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0.938rem;
}

.main__coffeebean_card-bottom-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
    
.main__coffeebean_card-bottom-title {
    margin: 0;
}
.main__coffeebean_card-bottom-descr{
    color: #909090;
    margin: 0;

}
.main__coffeebean_card-bottom-right {
    display: flex;
}

.main__coldbrew_card {
    width: 20.625rem;
    height: 27.5rem;
    border-radius: 0.625rem;
    box-shadow: 0 5px 9px -1px;
    box-shadow: rgba(0, 0, 0, 0.25);
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
}

.main__coldbrew_card-img {
    max-width: 100%;
    padding: 1rem;
    position: relative;
    top: 3%;
}
.main__coldbrew_card-bottom {
    background-color:#FFF0ED;
    height: 35%;
    box-sizing: border-box;
    position: relative;
    top: 2.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0.938rem;
}

.main__coldbrew_card-bottom-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
    
.main__coldbrew_card-bottom-title {
    margin: 0;
}
.main__coldbrew_card-bottom-descr{
    color: #909090;
    margin: 0;

}
.main__coldbrew_card-bottom-right {
    display: flex;
}

.main__inhousebrew_card {
    width: 20.625rem;
    height: 27.5rem;
    border-radius: 0.625rem;
    box-shadow: 0 5px 9px -1px;
    box-shadow: rgba(0, 0, 0, 0.25);
    text-align: center;
    overflow: hidden;
}

.main__inhousebrew_card-img {
    max-width: 100%;
    padding: 1rem;
    position: relative;
    top: 3%;
}
.main__inhousebrew_card-bottom {
    background-color:#FFF0ED;
    height: 35%;
    box-sizing: border-box;
    position: relative;
    top: 5.75%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0.938rem;
}

.main__inhousebrew-bottom-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
    
.main__inhousebrew_card-bottom-title {
    margin: 0;
}
.main__inhousebrew_card-bottom-descr{
    color: #909090;
    margin: 0;

}
.main__inhousebrew_card-bottom-right {
    display: flex;
}

.main__button-card {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 1.25rem;
   padding-top: 2.5rem;
   padding-bottom: 3.75rem;
   position: relative;
}
.main__button-view {
    background-color: #5BACC3;
    color: #fff;
    border: solid #5BACC3 2px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1.313rem;
    width: 11.25rem;
    text-align: center;
    padding: 1rem;
    margin: auto;
    position: relative;
}
.main__button-view--link {
    text-decoration: none;
} 
.main__button-view-border {
    position: absolute; 
    border: 2px solid #393939;
    width: 13.25rem;
    height: 3.7rem;
    bottom: 0.438rem;
    right: 0.5rem;
}
.section__descr-container {
    display: flex;
    background-color: #fff;
    padding: 1.25rem;
    align-items: center;
}
.section__descr-container-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    position: relative;
}
.section__descr-title {
    margin: 0;
}
.section__descr-words {
    width: 65%;
}
.section__descr-img-card {
    display: flex;
    gap: 9.375rem;
}
.section__descr-logo {
    width: 3.125rem;
}

.section__descr-button {
    background-color: #5BACC3;
    color: #fff;
    border: solid #5BACC3 2px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1.313rem;
    width: 11.25rem;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    text-decoration: none;
    position: relative;
}
.section__descr-button-border {
    position: absolute; 
    border: 2px solid #393939;
    width: 13.25rem;
    height: 3.7rem;
    bottom: 0.438rem;
    right: 0.5rem;
}

.section__descr-container-right {
    width: 50%;
    height: 26.25rem;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
}
.section__descr-bckgr-img {
    width: 25rem;
    padding-top:1.25rem;
    position: relative;
}
.section__decr-img-can {
    height: 17.5rem;
    position: absolute;
}
.section__descr-img-border {
    position: absolute;
    border: 5px solid #5BACC3;
    width: 25rem;
    height: 25rem;
    bottom: 1.25rem;
    left: 3.125rem;
}

.section__discount-card {
    background-color: #fff;
    width: 100%;
    height: 21.875rem;
    display: flex;
    justify-content: center;
}  
.section__discount-banner--text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 2.813rem;
    padding: 1.25rem;
    margin: auto;
}
.section__discount-banner {
    background-color: #393939;
    width: 90%;
    color: #fff;
    text-align: center;
    padding: 0.625rem 0.625rem;
    margin: auto;

}
.footer-area {
    background-color: #FFF0ED;
    width:100%;
    overflow-x:hidden;
}
.footer__container {
    display: flex;
    column-gap: 5rem;
    justify-content: space-evenly;
    align-items: center; 
    position:relative;
    width:100%;
}
.footer__img-bean-left{
    opacity: 25%;
    width: 7.5rem;
    position: absolute;
    bottom: 6.25rem;
    right: 14.375rem;
}

.footer__card-address{
    padding: 1.25rem;
    margin: 1.25rem;
    position: relative;
}
.footer__card-hours{
    padding: 1.25rem;
    margin: 1.25rem;
}
.footer__card-social{
    padding: 1.25rem;
    margin: 1.25rem;
    position: relative;
    width: auto; 
}
.footer__img-bean-right{
    position: absolute;
    opacity: 25%;
    width: 7.5rem;
    top: 6.875rem;
    left: 15rem;
}

.footer-area__links {
    text-decoration: none;
}
