//use partials 
@use './partials/global' as *;

header {
    background-color: $nitro-pink;
    width: 100%;
    padding-bottom: 0.625rem;
    padding-top: 0.625rem;

}
nav.header__container {
    display: flex;
    align-items: center;
    gap: 60%;
}

.header_card-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__img {
    width: 3.125rem;
    margin: 0;
    position: relative;
    top: 2px;
}
.header__card-right {
   display: flex;
   align-items: center;
    
}
.header__nav--linktext{
    margin: 0;
    text-decoration: none;
    color: inherit;
}

.nav-shopnow {
    color: $nitro-blue;
}

.section__intro-container {
    background-color: $nitro-pink;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}
.section__intro-card {
    margin-left: 9.375rem;
    @include flex-column;
}
.section__intro-title {
    text-align: left;
    margin-bottom: 0;
}
.section__intro-text {
    text-align: left;
    width: 50%;
}

.section__button-shop {
    background-color: $nitro-blue;
    color: $white;
    font-family: $font;
    font-weight: 400;
    font-size: 1.313rem;
    position: relative;
    z-index:1;
    @include button-size;
}
.section__button-shop-link{
    text-decoration: none;
    position: relative;
}
.section__button-shop-border {
    position: absolute;
    border: 2px solid $graphite;
    width: 13rem;
    height: 3.5rem;
    bottom: 0.4rem;
    right: 0.3rem;
    z-index:3;
    transition-duration: 0.1s;
}
.section__button-shop-border:active {
    position: absolute;
    transform: translate(0.3rem, 0.4rem);
}
.section__intro-img {
    padding: 1.25rem;
    margin-right: 6.25rem;
}
.main__background {
    background-color: $light-gray;
}
.main__title-text {
    margin: 0px;
    text-align: center;
    padding: 1rem;
}
.main__cards {
    padding: 1rem;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.main__coffeebean_card{
    @include product-card;
    
}
.main__coffeebean_card-img {
    max-width: 100%;
    padding: 1.2rem;
    position: relative;
    top: 3%;
}
.main__coffeebean_card-bottom {
    background-color:$nitro-pink;
    height: 35%;
    box-sizing: border-box;
    position: relative;
    top: 2.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main__coffeebean_card-bottom-left {
    @include flex-column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
}
    
.main__coffeebean_card-bottom-title {
    margin: 0;
}
.main__coffeebean_card-bottom-descr{
    color: $gray;
    margin: 0;

}
.main__coffeebean_card-bottom-right {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.main__coldbrew_card {
 @include product-card;
}

.main__coldbrew_card-img {
    max-width: 100%;
    padding: 1rem;
    position: relative;
    top: 3%;

}
.main__coldbrew_card-bottom {
    background-color:$nitro-pink;
    height: 35%;
    box-sizing: border-box;
    position: relative;
    top: 2.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main__coldbrew_card-bottom-left {
    @include flex-column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
}
    
.main__coldbrew_card-bottom-title {
    margin: 0;
}
.main__coldbrew_card-bottom-descr{
    color: $gray;
    margin: 0;

}
.main__coldbrew_card-bottom-right {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.main__inhousebrew_card {
    @include product-card;
}

.main__inhousebrew_card-img {
    max-width: 100%;
    padding: 1rem;
    position: relative;
    top: 3%;
}
.main__inhousebrew_card-bottom {
    background-color:$nitro-pink;
    height: 35%;
    box-sizing: border-box;
    position: relative;
    top: 5.75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main__inhousebrew-bottom-left {
    @include flex-column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
}
    
.main__inhousebrew_card-bottom-title {
    margin: 0;
}
.main__inhousebrew_card-bottom-descr{
    color: $gray;
    margin: 0;

}
.main__inhousebrew_card-bottom-right {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.main__button-card {
   @include flex-center;
   margin: 1.25rem;
   padding-top: 2.5rem;
   padding-bottom: 3.75rem;
   position: relative;
}
.main__button-view {
    background-color: $nitro-blue;
    color: $white;
    border: solid $nitro-blue 2px;
    font-family: $font;
    font-weight: 400;
    font-size: 1.313rem;
    margin: auto;
    position: relative;
    z-index: 1;
    @include button-size;

}
.main__button-view--link {
    text-decoration: none;
} 
.main__button-view-border {
    position: absolute; 
    border: 2px solid $graphite;
    width: 13.35rem;
    height: 3.875rem;
    bottom: 0.25em;
    right: 0.25rem;
    z-index: 3;
    transition-duration: 0.1s;
}
.main__button-view-border:active {
    position: absolute;
    transform: translate(0.3975rem, 0.49rem);
}
.section__descr-container {
    display: flex;
    background-color: $white;
    padding: 1.25rem;
    align-items: center;
}
.section__descr-container-left {
    @include flex-column;
    justify-content: center;
    margin-left: 10%;
    position: relative;
}
.section__descr-title {
    margin: 0;
}
.section__descr-words {
    width: 65%;
}
.section__descr-img-card {
    display: flex;
    gap: 9.375rem;
}
.section__descr-logo {
    width: 3.125rem;
}

.section__descr-button {
    background-color: $nitro-blue;
    color: $white;
    border: solid $nitro-blue 2px;
    font-family: $font;
    font-weight: 400;
    font-size: 1.313rem;
    margin-top: 2rem;
    text-decoration: none;
    position: relative;
    @include button-size;
    z-index:1;
}
.section__descr-button-border {
    position: absolute; 
    border: 2px solid $graphite;
    width: 13.35rem;
    height: 3.85rem;
    bottom: 0.2rem;
    right: 0.2rem;
    z-index:3;
}
.section__descr-button-border:active {
    position: absolute;
    transform: translate(0.3rem,0.4rem);
}

.section__descr-container-right {
    width: 50%;
    height: 26.25rem;
    box-sizing: border-box;
    flex-wrap: wrap;
    position: relative;
    @include flex-center;
}
.section__descr-bckgr-img {
    width: 25rem;
    padding-top:1.25rem;
    position: relative;
    z-index: 0;
}


.section__descr-img-border {
    position: absolute;
    border: 5px solid $nitro-blue;
    width: 25rem;
    height: 24.5rem;
    bottom: 1rem;
    right: 5.5rem;
    z-index: 0;
    
}
.section__descr-img-can {
    height: 17.5rem;
    position: absolute;
    z-index: 3;
}

.section__descr-img-can:hover {
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}


@keyframes spin {
    from {
        transform: rotate (0deg);
    }
    to { 
        transform: rotate (360deg);
    }
}

.section__discount-card {
    background-color: $white;
    width: 100%;
    height: 21.875rem;
    @include flex-center;
}  
.section__discount-banner--text {
    font-family: $font;
    font-weight: 400;
    font-size: 2.813rem;
    padding: 1.25rem;
    margin: auto;
}
.section__discount-banner {
    background-color: $graphite;
    width: 90%;
    color: $white;
    text-align: center;
    padding: 0.625rem 0.625rem;
    margin: auto;
    animation-name: flashing-color;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes flashing-color {
    0% {background-color: $graphite;
    }
    20% {bakcground-color: #2d5661;
    }
    40% {background-color: #519aaf;
    }
    60% {background-color: $nitro-blue;
    }
    80% {background-color:#519aaf;
    }
    100% {bakcground-color: #2d5661;
    }
}
.footer-area {
    background-color: $nitro-pink;
    width:100%;
    overflow-x:hidden;
}
.footer__container {
    display: flex;
    column-gap: 5rem;
    justify-content: space-evenly;
    align-items: center; 
    position:relative;
    width:100%;
}
.footer__img-bean-left{
    opacity: 25%;
    width: 7.5rem;
    position: absolute;
    bottom: 6.25rem;
    right: 14.375rem;
}

.footer__card-address{
    padding: 1.25rem;
    margin: 1.25rem;
    position: relative;
}
.footer__card-hours{
    padding: 1.25rem;
    margin: 1.25rem;
}
.footer__card-social{
    padding: 1.25rem;
    margin: 1.25rem;
    position: relative;
    width: auto; 
}
.footer__img-bean-right{
    position: absolute;
    opacity: 25%;
    width: 7.5rem;
    top: 6.875rem;
    left: 15rem;
}

.footer-area__links {
    text-decoration: none;
}
