//use partials 
@use './partials/global' as *;



//menu styles
header {
    background-color: $nitro-pink;
    width: 100%;
    padding-bottom: 0.625rem;
    padding-top: 0.625rem;
}
nav.header__container {
    display: flex;
    align-items: center;
    gap: 58%;
    
}
.header_card-left {
    @include flex-center;
}
.header__img {
    width: 50px;
    margin: 0;
    position: relative;
    top: 2px;
}
.header__card-right {
   display: flex;
   align-items: center; 
   justify-content: flex-end; 
}
.header__nav--linktext{
    margin: 0;
    text-decoration: none;
    color: inherit;
}
.nav-shopnow {
    color: $nitro-blue;
}
.section__introduction-container {
    @include flex-center;
}

.menu-introduction {
    background-image: url(../assets/images/coffee-circle.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 43.25rem;
    @include flex-center;
    position: relative;
}

.title-box {
    background-color: $graphite;
    width: 18.75rem;
    height: 12.5rem;
    @include flex-center;
    position: relative;

} 
.title-box-border {
    position: absolute;
    content: '';
    width: 18rem;
    height: 12rem;
    border: 5px solid $nitro-blue;
    bottom: 15px;
    right: 15px;
}


.section__introduction-text {
    color: $white;
}
.section__navbar-container {
    background-color: $graphite;
    width: 100%;
    height: 5rem;
    box-sizing: border-box;
    text-align: center;
    @include flex-center;
}
.section__navbar-card {
    box-sizing: border-box;
    display: flex;
}

.section__navbar-text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1.3125rem;
    border-left: 4px solid $nitro-blue;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    color: $white;
    text-decoration: none;
}

#hotdrinks_card {
    background-color: $nitro-pink;
    text-align: center;
    margin: auto;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    margin: auto;
}
#colddrinks_card {
    background-color: $light-gray;
    text-align: center;
    margin:auto;
    padding-top:1.25rem;
    padding-bottom: 1.25rem;
    margin: auto;
}
#pastries_card {
    background-color: $nitro-pink;
    text-align: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    margin: auto;
}


.description {
    font-family: $font;
    font-weight: 400;
    font-size: 1.125rem;
    font-style: italic;
    width: 33%;
    margin: auto;
}