//variables-colors 
$nitro-blue: #5BACC3;
$nitro-pink: #FFF0ED;
$graphite: #393939;
$gray: #909090;
$light-gray:#F7F7F7;
$white:#FFF;
//variables-font related items
$font: 'Open Sans';
$bold: 700;
$regular: 400;
$light: 300;

//mixins
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-column {
    display: flex;
    flex-direction: column;
}
       


@mixin product-card {
    width: 20.625rem;
    height: 27.5rem;
    border-radius: 0.625rem;
    box-shadow: 0 5px 9px -1px;
    box-shadow: rgba(0, 0, 0, 0.25);
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
}
@mixin button-size {
    width: 11.25rem;
    text-align: center;
    padding: 1rem;
}
//global styles

body {
    font-family: $font;
    font-weight: $regular;
    margin:0;
    padding:0;
    text-decoration: none;
    overflow-x:hidden;
}
h1, h2 {
    font-family: $font;
    font-weight: $light;
    font-size: 3.75rem;
}

h3 {
    font-family: $font;
    font-weight: $light;
    font-size: 2.063rem;
}

.nav__link {
    font-family: $font;
    font-weight: $regular;
    font-size: 1.3125rem;
    padding: 10px; 
}

p {
    font-family: $font;
    font-weight: $regular;
    font-size: 1.125rem;
}

.price {
    color: $nitro-blue;
}
.main__cards-price {
    color: $nitro-blue;
    font-size: 2.063rem;
    font-weight: $bold;
    margin: auto;
}

.footer_heading {
    font-family: $font;
    font-weight: $light;
    font-size: 2.063rem;
}
